@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
article {
  position: relative;
  overflow: hidden;
  width: 100%;
}

section#kv {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-image: url(../images/kv_bg.png);
  background-color: #3caad4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media only screen and (max-width: 1920px) {
  section#kv {
    max-height: 880px;
  }
}
@media only screen and (max-width: 1200px) {
  section#kv {
    max-height: 800px;
  }
}
@media only screen and (max-height: 900px) {
  section#kv {
    max-height: 630px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv {
    max-height: 600px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv {
    background-image: url(../images/kv_bg-m.png);
    max-height: 650px;
    min-height: 650px;
  }
}
section#kv .bgb {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 670px;
  background-image: url(../images/kv_mask.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
}
@media only screen and (max-width: 1920px) {
  section#kv .bgb {
    width: 1996px;
    height: 598px;
    margin-left: -998px;
  }
}
@media only screen and (max-width: 1400px) {
  section#kv .bgb {
    margin-left: -950px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .bgb {
    width: 1100px;
    height: 265px;
    margin-left: -550px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .bgb {
    width: 840px;
    height: 300px;
    margin-left: -410px;
  }
}
@media only screen and (max-width: 450px) {
  section#kv .bgb {
    background-image: url(../images/kv_mask_m.png);
    height: 200px;
    margin-left: -430px;
    bottom: -56px;
  }
}
section#kv .img00 {
  background-image: url(../images/kv_img00.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 640px;
  height: 906px;
  top: 72px;
  left: 50%;
  margin-left: -332px;
  z-index: 1;
}
@media only screen and (max-height: 900px) {
  section#kv .img00 {
    height: 554px;
    top: 68px;
    margin-left: -240px;
  }
}
@media only screen and (max-width: 1200px) {
  section#kv .img00 {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .img00 {
    width: 439px;
    bottom: -87px;
    margin-left: -210px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .img00 {
    background-image: url(../images/kv_img00-m.png);
    width: 358px;
    height: auto;
    margin-left: -180px;
    top: 124px;
  }
}
@media only screen and (max-width: 450px) {
  section#kv .img00 {
    top: 102px;
  }
}
section#kv .img01 {
  background-image: url(../images/kv_img01.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 489px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 88px;
  margin-left: -608px;
}
@media only screen and (max-width: 1200px) {
  section#kv .img01 {
    width: 356px;
    bottom: 16px;
    margin-left: -512px;
  }
}
@media only screen and (max-height: 900px) {
  section#kv .img01 {
    width: 316px;
    bottom: -24px;
    margin-left: -440px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .img01 {
    width: 259px;
    bottom: -32px;
    margin-left: -353px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .img01 {
    background-image: url(../images/kv_img01-m.png);
    width: 172px;
    height: 122px;
    bottom: 312px;
    margin-left: -180px;
  }
}
section#kv .img01-1 {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 6;
}
@media only screen and (max-width: 750px) {
  section#kv .img01-1 {
    display: block;
    background-image: url(../images/kv_img01-1-m.png);
    width: 145px;
    height: 100px;
    bottom: 56px;
    left: 16px;
  }
}
section#kv .img02-1 {
  background-image: url(../images/kv_img02-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 324px;
  height: 272px;
  position: absolute;
  z-index: 4;
  right: 50%;
  bottom: 124px;
  margin-right: -668px;
}
@media only screen and (max-width: 1200px) {
  section#kv .img02-1 {
    bottom: 180px;
    margin-right: -536px;
  }
}
@media only screen and (max-height: 900px) {
  section#kv .img02-1 {
    bottom: 108px;
    margin-right: -596px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .img02-1 {
    width: 188px;
    bottom: 28px;
    margin-right: -432px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .img02-1 {
    width: 178px;
    bottom: -70px;
    margin-right: -192px;
  }
}
section#kv .img02-2 {
  background-image: url(../images/kv_img02-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 418px;
  height: 749px;
  position: absolute;
  z-index: 3;
  right: 50%;
  bottom: 116px;
  margin-right: -876px;
}
@media only screen and (max-width: 1200px) {
  section#kv .img02-2 {
    width: 456px;
    bottom: 188px;
    margin-right: -872px;
  }
}
@media only screen and (max-height: 900px) {
  section#kv .img02-2 {
    height: 556px;
    bottom: 124px;
    margin-right: -812px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .img02-2 {
    width: 246px;
    bottom: 65px;
    margin-right: -552px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .img02-2 {
    width: 136px;
    height: 296px;
    bottom: 0px;
    margin-right: -212px;
    transform: rotate(8deg);
  }
}
section#kv .img02-3 {
  background-image: url(../images/kv_img02-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 666px;
  height: 466px;
  position: absolute;
  z-index: 2;
  right: 50%;
  bottom: -44px;
  margin-right: -920px;
}
@media only screen and (max-width: 1200px) {
  section#kv .img02-3 {
    width: 536px;
    bottom: -96px;
    margin-right: -780px;
    transform: rotate(-15deg);
  }
}
@media only screen and (max-height: 900px) {
  section#kv .img02-3 {
    width: 617px;
    height: 484px;
    bottom: -152px;
    margin-right: -728px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .img02-3 {
    width: 372px;
    bottom: -200px;
    margin-right: -524px;
    transform: rotate(-10deg);
  }
}
@media only screen and (max-width: 750px) {
  section#kv .img02-3 {
    width: 335px;
    bottom: -286px;
    margin-right: -271px;
    transform: rotate(5deg);
  }
}
section#kv .img02 {
  background-image: url(../images/kv_img02.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 438px;
  height: 212px;
  position: absolute;
  z-index: 6;
  right: 50%;
  bottom: 344px;
  margin-right: -489px;
}
@media only screen and (max-width: 1200px) {
  section#kv .img02 {
    width: 400px;
    bottom: 242px;
    margin-right: -448px;
  }
}
@media only screen and (max-height: 900px) {
  section#kv .img02 {
    width: 312px;
    bottom: 214px;
    margin-right: -320px;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .img02 {
    width: 256px;
    bottom: 205px;
    margin-right: -307px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .img02 {
    width: 150px;
    bottom: 170px;
    margin-right: -174px;
    z-index: 5;
  }
}
section#kv .scroll {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  cursor: pointer;
  width: 143px;
  height: 91px;
  background-image: url(../images/scroll.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 1400px) {
  section#kv .scroll {
    width: 100px;
    bottom: 100px;
  }
}
@media only screen and (max-height: 900px) {
  section#kv .scroll {
    width: 60px;
    height: 39px;
    bottom: 0;
  }
}
@media only screen and (max-width: 1000px) {
  section#kv .scroll {
    width: 100px;
    height: 66px;
    bottom: 0;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .scroll {
    width: 60px;
    height: 60px;
    bottom: 0px;
  }
}
@media only screen and (max-width: 420px) {
  section#kv .scroll {
    bottom: -20px;
  }
}
section#kv .cookies {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 35px;
  z-index: 10;
}
@media only screen and (max-width: 1100px) {
  section#kv .cookies {
    padding: 15px;
  }
}
@media only screen and (max-width: 750px) {
  section#kv .cookies {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
section#kv .cookies .xx {
  background-image: url(../images/cookies_xx.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background-color: #132742;
  border-radius: 100%;
}
@media only screen and (max-width: 750px) {
  section#kv .cookies .xx {
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
  }
}
section#kv .cookies p {
  font-size: 12px;
  color: #191007;
  line-height: 20px;
}
section#kv .cookies p a {
  margin: 0 5px;
  transition: 0.5s;
}
@media only screen and (min-width: 751px) {
  section#kv .cookies p a:hover {
    color: #a5232a;
  }
}

section#about {
  position: relative;
  width: 100%;
  padding: 100px 0 200px;
  background-color: #fff;
  z-index: 4;
}
@media only screen and (max-width: 1400px) {
  section#about {
    padding: 80px 0 200px;
  }
}
@media only screen and (max-width: 1000px) {
  section#about {
    padding: 80px 0 352px;
  }
}
@media only screen and (max-width: 750px) {
  section#about {
    overflow: hidden;
    padding: 80px 0 320px;
  }
}
section#about .i01, section#about .i02 {
  position: absolute;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
}
section#about .i01 {
  width: 317px;
  height: 712px;
  background-image: url(../images/about_i01.png);
  left: 50%;
  top: 110px;
  margin-left: -750px;
  z-index: 3;
}
@media only screen and (max-width: 1100px) {
  section#about .i01 {
    width: 200px;
    top: 500px;
    margin-left: -500px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .i01 {
    width: 120px;
    top: 100px;
    margin-left: -270px;
  }
}
section#about .i02 {
  width: 315px;
  height: 612px;
  background-image: url(../images/about_i02.png);
  left: 50%;
  top: 90px;
  margin-left: 500px;
}
@media only screen and (max-width: 1100px) {
  section#about .i02 {
    width: 200px;
    top: 500px;
    margin-left: 300px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .i02 {
    width: 150px;
    top: 280px;
    margin-left: 170px;
  }
}
section#about .inner {
  position: relative;
  width: 1350px;
  margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
  section#about .inner {
    width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  section#about .inner {
    width: 100%;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner {
    padding-bottom: 100px;
    margin-top: 0px;
  }
}
section#about .inner .title {
  width: 664px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .title {
    width: 506px;
    margin-bottom: -10px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .title {
    width: 300px;
  }
}
section#about .inner .title img {
  width: 100%;
}
section#about .inner .info_box {
  text-align: center;
}
section#about .inner .info_box .info01 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/about_img01.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 550px;
  height: 325px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 60px;
  margin-right: 20px;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box .info01 {
    display: block;
    padding-top: 40px;
    padding-left: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box .info01 {
    width: 350px;
    height: 220px;
    padding-top: 30px;
  }
}
section#about .inner .info_box .info02 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/about_img02.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 418px;
  height: 275px;
  box-sizing: border-box;
  margin-top: 20px;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 35px;
}
section#about .inner .info_box .info02 h3 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box .info02 {
    width: 443px;
    height: 300px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 60px;
    background-image: url(../images/about_img02_m.png);
  }
  section#about .inner .info_box .info02 h3 {
    text-align: left;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box .info02 {
    width: 330px;
    height: 230px;
    padding-top: 40px;
  }
  section#about .inner .info_box .info02 h3 {
    margin-bottom: 20px;
  }
}
section#about .inner .info_box h1 {
  font-size: 30px;
  font-weight: bold;
  color: #3b3b3b;
  text-align: left;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box h1 {
    font-size: 22px;
  }
}
section#about .inner .info_box h2 {
  font-size: 30px;
  font-weight: bold;
  color: #3b3b3b;
  text-align: left;
}
@media only screen and (max-width: 1920px) {
  section#about .inner .info_box h2 {
    font-size: 44px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1400px) {
  section#about .inner .info_box h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box h2 {
    font-size: 22px;
  }
}
section#about .inner .info_box h3 {
  font-size: 35px;
  line-height: 44px;
  font-weight: bold;
  color: #3b3b3b;
  text-align: left;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box h3 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
section#about .inner .info_box p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: bold;
  color: #3b3b3b;
  text-align: left;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }
}
section#about .inner .info_box .img01 {
  position: absolute;
  top: 30px;
  right: -10px;
  width: 130px;
}
section#about .inner .info_box .img01 img {
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .info_box .img01 {
    top: 50px;
    right: -20px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .info_box .img01 {
    width: 110px;
    top: 40px;
  }
}
section#about .inner .title02 {
  width: 374px;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .title02 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .title02 {
    width: 280px;
  }
}
section#about .inner .title02 img {
  width: 100%;
}
section#about .inner .product-step {
  width: 839px;
  height: 216px;
  background-image: url(../images/about_product-step.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  section#about .inner .product-step {
    width: 552px;
    height: 532px;
    background-image: url(../images/about_product-step-m.png);
  }
}
@media only screen and (max-width: 750px) {
  section#about .inner .product-step {
    width: 70%;
    max-width: 350px;
  }
}
section#about .inner .product-step img {
  width: 100%;
}

section#video {
  position: relative;
  width: 100%;
  z-index: 4;
  margin-top: -428px;
}
@media only screen and (max-width: 750px) {
  section#video {
    margin-top: -632px;
  }
}
section#video .bgt {
  background-image: url(../images/video_bg_top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  top: 0;
  left: 50%;
  width: 2560px;
  height: 640px;
  margin-left: -1280px;
}
@media only screen and (max-width: 1920px) {
  section#video .bgt {
    width: 1920px;
    height: 480px;
    margin-left: -960px;
  }
}
@media only screen and (max-width: 1100px) {
  section#video .bgt {
    width: 1500px;
    height: 375px;
    margin-left: -750px;
    background-size: 1500px;
  }
}
@media only screen and (max-width: 750px) {
  section#video .bgt {
    width: 800px;
    height: 200px;
    margin-left: -400px;
    background-size: 800px;
  }
}
section#video .bgb {
  background-image: url(../images/video_bg_bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  bottom: 0;
  left: 50%;
  width: 2560px;
  margin-left: -1280px;
  height: 640px;
}
@media only screen and (max-width: 1920px) {
  section#video .bgb {
    width: 1920px;
    height: 412px;
    margin-left: -960px;
  }
}
@media only screen and (max-width: 1100px) {
  section#video .bgb {
    width: 1300px;
    height: 325px;
    margin-left: -650px;
    background-size: 1300px;
  }
}
@media only screen and (max-width: 750px) {
  section#video .bgb {
    width: 800px;
    height: 250px;
    margin-left: -400px;
    background-size: 800px;
  }
}
section#video .i01, section#video .i02 {
  position: absolute;
  z-index: 5;
  background-size: contain;
  background-repeat: no-repeat;
}
section#video .i01 {
  width: 84px;
  height: 88px;
  background-image: url(../images/video_i01.png);
  left: 50%;
  top: 542px;
  margin-left: -521px;
}
@media only screen and (max-width: 1100px) {
  section#video .i01 {
    margin-left: -440px;
  }
}
section#video .i02 {
  width: 187px;
  height: 346px;
  background-image: url(../images/video_i02.png);
  left: 50%;
  bottom: 400px;
  margin-left: 500px;
}
@media only screen and (max-width: 1100px) {
  section#video .i02 {
    margin-left: 356px;
    bottom: 214px;
  }
}
section#video .inner {
  background-image: url(../images/video_bg.png);
  background-repeat: repeat-y;
  background-position: center top;
  text-align: center;
  position: relative;
  z-index: 4;
  background-size: cover;
}
@media only screen and (max-width: 1920px) {
  section#video .inner {
    background-size: auto;
  }
}
@media only screen and (max-width: 1000px) {
  section#video .inner {
    padding-top: 20px;
    margin-bottom: -50px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}
section#video .inner .video01 {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
section#video .inner .video01 .img {
  width: 606px;
  margin-bottom: 20px;
  position: relative;
}
@media only screen and (max-width: 1400px) {
  section#video .inner .video01 .img {
    width: 420px;
  }
}
@media only screen and (max-width: 1000px) {
  section#video .inner .video01 .img {
    width: 100%;
  }
}
section#video .inner .video01 .img img {
  width: 100%;
}
section#video .inner .video01 .img .play {
  position: absolute;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  width: 69px;
  height: 72px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#video .inner .video01 p {
  font-size: 30px;
  font-weight: bold;
  color: #545454;
  text-align: center;
}
@media only screen and (max-width: 1400px) {
  section#video .inner .video01 p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1000px) {
  section#video .inner .video01 p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 750px) {
  section#video .inner .video01 p {
    font-size: 20px;
  }
}

section#product {
  position: relative;
  width: 100%;
  padding-top: 56px;
  background-size: 1920px;
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: cover;
  z-index: 4;
}
@media only screen and (max-width: 1200px) {
  section#product {
    background-position: center calc(100% - 100px);
  }
}
@media only screen and (max-width: 1000px) {
  section#product {
    margin-top: -250px;
    padding-top: 200px;
  }
}
@media only screen and (max-width: 750px) {
  section#product {
    background-image: url(../images/footer_bg_m.png);
    background-position: center bottom;
    background-size: 1000px;
    padding-top: 176px;
  }
}
section#product .character {
  width: 260px;
  height: 702px;
  background-image: url(../images/about_character.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 10;
  top: -649px;
  left: 50%;
  margin-left: -676px;
}
@media only screen and (max-width: 1100px) {
  section#product .character {
    width: 190px;
    height: 525px;
    top: -485px;
    margin-left: -369px;
  }
}
@media only screen and (max-width: 750px) {
  section#product .character {
    width: 128px;
    height: 350px;
    top: -616px;
    margin-left: -252px;
  }
}
@media only screen and (max-width: 500px) {
  section#product .character {
    margin-left: -204px;
  }
}
section#product .i03, section#product .i04, section#product .i05 {
  position: absolute;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
}
section#product .i03 {
  width: 100%;
  height: 160px;
  background-image: url(../images/footer_bg01.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 3;
}
@media only screen and (max-width: 1920px) {
  section#product .i03 {
    width: 1920px;
    margin-left: -960px;
  }
}
@media only screen and (max-width: 1200px) {
  section#product .i03 {
    background-size: 1300px;
    height: 110px;
  }
}
@media only screen and (max-width: 750px) {
  section#product .i03 {
    background-size: 960px;
    height: 80px;
  }
}
section#product .i04 {
  width: 1091px;
  height: 541px;
  background-image: url(../images/footer_img01.png);
  bottom: -60px;
  left: -300px;
  z-index: 3;
}
@media only screen and (max-width: 1600px) {
  section#product .i04 {
    width: 800px;
    height: 400px;
    left: -230px;
    bottom: -30px;
  }
}
@media only screen and (max-width: 1200px) {
  section#product .i04 {
    width: 600px;
    height: 300px;
    left: -170px;
    bottom: -10px;
  }
}
@media only screen and (max-width: 750px) {
  section#product .i04 {
    width: 350px;
    height: 180px;
    left: -150px;
    bottom: 0;
  }
}
section#product .i05 {
  width: 1103px;
  height: 216px;
  background-image: url(../images/footer_img02.png);
  right: -260px;
  bottom: 50px;
  z-index: 3;
}
@media only screen and (max-width: 1600px) {
  section#product .i05 {
    width: 900px;
    height: 180px;
    right: -220px;
    bottom: 80px;
  }
}
@media only screen and (max-width: 1200px) {
  section#product .i05 {
    background-image: url(../images/footer_img02_m.png);
    width: 600px;
    height: 120px;
    right: -270px;
    bottom: 50px;
  }
}
@media only screen and (max-width: 750px) {
  section#product .i05 {
    background-image: url(../images/footer_img02_m.png);
    width: 261px;
    height: 65px;
    right: -80px;
    bottom: 50px;
  }
}
section#product .guarantee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 600px;
}
@media only screen and (max-width: 1000px) {
  section#product .guarantee {
    width: 95%;
    margin: 0 auto;
  }
  section#product .guarantee .content {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  section#product .guarantee {
    padding-bottom: 300px;
  }
}
section#product .guarantee .title {
  margin-bottom: 24px;
}
@media only screen and (max-width: 750px) {
  section#product .guarantee .title {
    width: 200px;
  }
}
section#product [class^=main] {
  width: 1350px;
  margin: 0 auto;
  margin-top: -200px;
  padding-bottom: 160px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] {
    width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  section#product [class^=main] {
    width: 100%;
    margin-top: -108px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] {
    margin-top: -48px;
    padding-bottom: 80px;
  }
}
section#product [class^=main] .title {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .title {
    width: 200px;
  }
}
section#product [class^=main] .title img {
  width: 100%;
}
section#product [class^=main] .cate {
  width: 431px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] .cate {
    width: 320px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .cate {
    width: 200px;
    margin-bottom: 60px;
  }
}
section#product [class^=main] .cate img {
  width: 100%;
}
section#product [class^=main] .m_dot_box {
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  display: none;
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] .m_dot_box {
    display: block;
  }
}
section#product [class^=main] .m_dot_box .owl-nav {
  position: absolute;
  width: 400px;
  height: 97px;
  left: 50%;
  top: 50px;
  margin-left: -200px;
}
section#product [class^=main] .m_dot_box .owl-prev, section#product [class^=main] .m_dot_box .owl-next {
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 54px;
  height: 97px;
  background-color: transparent;
  border: none;
  text-indent: -9999px;
  position: absolute;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .m_dot_box .owl-prev, section#product [class^=main] .m_dot_box .owl-next {
    width: 40px;
  }
}
section#product [class^=main] .m_dot_box .owl-prev {
  left: 0;
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .m_dot_box .owl-prev {
    left: 20px;
  }
}
section#product [class^=main] .m_dot_box .owl-next {
  right: 0;
  transform: scaleX(-1);
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .m_dot_box .owl-next {
    right: 20px;
  }
}
section#product [class^=main] .m_dot_box .owl-item {
  display: inline-block;
  vertical-align: top;
}
section#product [class^=main] .m_dot_box .owl-item.center [class^=m_dot] {
  transform: scale(1.8) rotate(0deg);
  filter: blur(0px);
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .m_dot_box .owl-item.center [class^=m_dot] {
    transform: scale(1.5) rotate(0deg);
  }
}
section#product [class^=main] .m_dot_box .owl-item.center [class^=m_dot] .shadow {
  display: block;
}
section#product [class^=main] .m_dot_box [class^=m_dot] {
  width: 164px;
  height: 203px;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  transform: scale(1) rotate(-15deg);
  filter: blur(2px);
  position: relative;
}
section#product [class^=main] .m_dot_box [class^=m_dot] img {
  width: 100%;
}
section#product [class^=main] .m_dot_box [class^=m_dot] .new {
  position: absolute;
  top: -25px;
  right: -30px;
  width: 70px;
  height: 65px;
  background: url(../images/new.png) no-repeat center/contain;
  transform: rotate(45deg);
}
section#product [class^=main] .m_dot_box .shadow {
  background-image: url(../images/product_shadow.png);
  background-repeat: no-repeat;
  width: 140px;
  height: 28px;
  margin-top: -20px;
  background-size: contain;
  display: none;
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] .m_dot_box .shadow {
    margin-top: -12px;
  }
}
section#product [class^=main] [class^=item_box] {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
section#product [class^=main] [class^=item_box] .items {
  height: 500px;
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items {
    height: 663px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items {
    height: auto;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] {
  display: none;
  margin-top: -40px;
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] {
    width: 709px;
    height: 663px;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -354px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] {
    width: 400px;
    height: 383px;
    margin-left: -200px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item].active {
  display: block;
}
section#product [class^=main] [class^=item_box] .items [class^=item]::after {
  content: "";
  display: block;
  clear: both;
}
section#product [class^=main] [class^=item_box] .items [class^=item] .i01 {
  width: 1574px;
  height: 710px;
  background-image: url(../images/product_i01.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: -130px;
  margin-left: -840px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .i01 {
    width: 1200px;
    top: -70px;
    margin-left: -610px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .i01 {
    background-image: url(../images/product_i03.png);
    width: 736px;
    height: 108px;
    margin-left: -368px;
    top: initial;
    bottom: -30px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .i01 {
    width: 400px;
    margin-left: -200px;
    bottom: -60px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .i02 {
  width: 1800px;
  height: 1016px;
  background-image: url(../images/product_i02.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: -264px;
  margin-left: -812px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .i02 {
    width: 1400px;
    top: -190px;
    margin-left: -700px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .i02 {
    background-image: url(../images/product_i04.png);
    width: 755px;
    height: 176px;
    margin-left: -377px;
    top: initial;
    bottom: -30px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .i02 {
    width: 400px;
    margin-left: -200px;
    bottom: -80px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .bg {
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  width: 948px;
  height: 589px;
  left: 208px;
  top: -48px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .bg {
    left: 160px;
    top: -40px;
    width: 800px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .bg {
    display: none;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item].item05 .bg, section#product [class^=main] [class^=item_box] .items [class^=item].item06 .bg, section#product [class^=main] [class^=item_box] .items [class^=item].item07 .bg {
  width: 966px;
  height: 586px;
  left: 180px;
  top: -60px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item].item05 .bg, section#product [class^=main] [class^=item_box] .items [class^=item].item06 .bg, section#product [class^=main] [class^=item_box] .items [class^=item].item07 .bg {
    width: 820px;
    height: 500px;
    left: 50px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item].item01 .bg {
  background-image: url(../images/product_bg01.png);
}
section#product [class^=main] [class^=item_box] .items [class^=item].item02 .bg {
  background-image: url(../images/product_bg02.png);
}
section#product [class^=main] [class^=item_box] .items [class^=item].item03 .bg {
  background-image: url(../images/product_bg03.png);
}
section#product [class^=main] [class^=item_box] .items [class^=item].item04 .bg {
  background-image: url(../images/product_bg04.png);
}
section#product [class^=main] [class^=item_box] .items [class^=item].item05 .bg {
  background-image: url(../images/product_bg05.png);
}
section#product [class^=main] [class^=item_box] .items [class^=item].item06 .bg {
  background-image: url(../images/product_bg06.png);
}
section#product [class^=main] [class^=item_box] .items [class^=item].item07 .bg {
  background-image: url(../images/product_bg07.png);
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item].item01 {
    background-image: url(../images/product_bg01_m.png);
  }
  section#product [class^=main] [class^=item_box] .items [class^=item].item02 {
    background-image: url(../images/product_bg02_m.png);
  }
  section#product [class^=main] [class^=item_box] .items [class^=item].item03 {
    background-image: url(../images/product_bg03_m.png);
  }
  section#product [class^=main] [class^=item_box] .items [class^=item].item04 {
    background-image: url(../images/product_bg04_m.png);
  }
  section#product [class^=main] [class^=item_box] .items [class^=item].item05 {
    background-image: url(../images/product_bg05_m.png);
  }
  section#product [class^=main] [class^=item_box] .items [class^=item].item06 {
    background-image: url(../images/product_bg06_m.png);
  }
  section#product [class^=main] [class^=item_box] .items [class^=item].item07 {
    background-image: url(../images/product_bg07_m.png);
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .img {
  float: left;
  position: relative;
  z-index: 4;
  margin-top: 52px;
  margin-left: 88px;
  width: 400px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .img {
    width: 350px;
    margin-top: 20px;
    margin-left: 80px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .img {
    display: none;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .img img {
  width: 100%;
}
section#product [class^=main] [class^=item_box] .items [class^=item] .img .product04 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 379px;
  height: 455px;
  position: relative;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .img .product04 {
    width: 340px;
    height: 408px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .img .product04::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -20px;
  left: -20px;
  width: 102px;
  height: 96px;
  background: url(../images/new.png) no-repeat center/contain;
}
section#product [class^=main] [class^=item_box] .items [class^=item] .img .shadow {
  width: 331px;
  height: 28px;
  background-image: url(../images/product_shadow.png);
  background-repeat: no-repeat;
}
section#product [class^=main] [class^=item_box] .items [class^=item] .info_box {
  float: left;
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 550px);
  padding-top: 44px;
  padding-right: 260px;
  z-index: 4;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box {
    width: 550px;
    padding-right: 130px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box {
    width: calc(100% - 140px);
    float: none;
    margin: 0 auto;
    padding-right: 0;
    padding-top: 150px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box {
    width: calc(100% - 40px);
    padding-top: 50px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .info_box h2 {
  color: #FFF;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box h2 {
    font-size: 26px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .info_box p {
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  text-indent: -20px;
  padding-left: 20px;
  line-height: 32px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box p {
    font-size: 17px;
    text-indent: -18px;
    padding-left: 18px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box p {
    font-size: 20px;
    text-indent: -20px;
    padding-left: 20px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box p {
    font-size: 13px;
    text-indent: -13px;
    padding-left: 13px;
    line-height: 22px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 580px;
  margin-top: 20px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links {
    width: 100%;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links a {
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
  background-image: url(../images/p_cart.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links a {
    background-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    margin-bottom: 10px;
    width: 120px;
  }
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links a {
    width: 200px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links a {
    width: 160px;
    height: 36px;
  }
}
section#product [class^=main] [class^=item_box] .items [class^=item] .info_box .links a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  width: 100%;
}
section#product [class^=main] [class^=item_box] .dots {
  text-align: center;
  position: relative;
  z-index: 4;
  margin-top: 140px;
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main] [class^=item_box] .dots {
    display: none;
  }
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .bg {
  position: absolute;
  width: 221px;
  height: 226px;
  top: -10px;
  left: 5px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .img {
  width: 200px;
  margin: 0 20px 10px;
  transform: rotate(-10deg);
  position: relative;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .img img {
  width: 100%;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .img .shadow {
  width: 160px;
  height: 22px;
  background-image: url(../images/product_shadow2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -30px;
  margin-bottom: -10px;
  transform: rotate(10deg);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .name {
  display: inline-block;
  padding: 2px 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .name p {
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .name .arr {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-left: 5px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot] .name .arr::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -1px;
  right: 1px;
  border: solid #FFF;
  border-width: 0px 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  position: relative;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot01 .bg {
  background-image: url(../images/product_dot01.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot01 .name p {
  color: #36a5cf;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot01 .name .arr {
  background-color: #36a5cf;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot02 .bg {
  background-image: url(../images/product_dot02.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot02 .img .product02 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 195.2px;
  height: 263px;
  position: relative;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot02 .img .product02::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -25px;
  width: 94px;
  height: 89px;
  background: url(../images/new.png) no-repeat center/contain;
  transform: rotate(45deg);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot02 .name p {
  color: #217cbe;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot02 .name .arr {
  background-color: #217cbe;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot03 .bg {
  background-image: url(../images/product_dot03.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot03 .name p {
  color: #e94e86;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot03 .name .arr {
  background-color: #e94e86;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot04 .bg {
  background-image: url(../images/product_dot04.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot04 .img .product04 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 195.2px;
  height: 263px;
  position: relative;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot04 .img .product04::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -25px;
  width: 94px;
  height: 89px;
  background: url(../images/new.png) no-repeat center/contain;
  transform: rotate(45deg);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot04 .name p {
  color: #e60012;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot04 .name .arr {
  background-color: #e60012;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot05 .bg {
  background-image: url(../images/product_dot05.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot05 .name p {
  color: #d6007b;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot05 .name .arr {
  background-color: #d6007b;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot06 .bg {
  background-image: url(../images/product_dot06.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot06 .name p {
  color: #eb5e05;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot06 .name .arr {
  background-color: #eb5e05;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot07 .bg {
  background-image: url(../images/product_dot07.png);
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot07 .name p {
  color: #a462a4;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].dot07 .name .arr {
  background-color: #a462a4;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot01 .img img {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot01 .name {
  background-color: #36a5cf;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot01 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot01 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot01 .name .arr::after {
  border: solid #36a5cf;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot02 .img img {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot02 .name {
  background-color: #217cbe;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot02 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot02 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot02 .name .arr::after {
  border: solid #217cbe;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot03 .img img {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot03 .name {
  background-color: #e94e86;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot03 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot03 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot03 .name .arr::after {
  border: solid #e94e86;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot04 .img .product04 {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot04 .name {
  background-color: #e60012;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot04 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot04 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot04 .name .arr::after {
  border: solid #e60012;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot05 .img img {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot05 .name {
  background-color: #d6007b;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot05 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot05 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot05 .name .arr::after {
  border: solid #d6007b;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot06 .img img {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot06 .name {
  background-color: #eb5e05;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot06 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot06 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot06 .name .arr::after {
  border: solid #eb5e05;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot07 .img img {
  position: relative;
  top: -20px;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot07 .name {
  background-color: #a462a4;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot07 .name p {
  color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot07 .name .arr {
  background-color: #FFF;
}
section#product [class^=main] [class^=item_box] .dots [class^=dot].active.dot07 .name .arr::after {
  border: solid #a462a4;
  border-width: 0px 3px 3px 0;
}
section#product [class^=main].main02 {
  margin-top: 0;
  padding-bottom: 100px;
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main].main02 {
    padding-bottom: 180px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main].main02 {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main].main02 .item_box .items [class^=item] {
    height: 729px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main].main02 .item_box .items [class^=item] {
    height: 420px;
  }
}
section#product [class^=main].main02 .item_box .items [class^=item] .img {
  float: right;
  margin-left: 0;
  margin-top: 60px;
  margin-right: -16px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main].main02 .item_box .items [class^=item] .img {
    margin-top: 30px;
    margin-right: -28px;
  }
}
section#product [class^=main].main02 .item_box .items [class^=item] .info_box {
  padding-right: 0;
  padding-left: 260px;
  margin-left: 164px;
  padding-top: 44px;
}
@media only screen and (max-width: 1400px) {
  section#product [class^=main].main02 .item_box .items [class^=item] .info_box {
    padding-left: 100px;
    margin-left: 124px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  section#product [class^=main].main02 .item_box .items [class^=item] .info_box {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin: 0 auto;
    padding-top: 150px;
  }
}
@media only screen and (max-width: 750px) {
  section#product [class^=main].main02 .item_box .items [class^=item] .info_box {
    padding-top: 50px;
  }
}/*# sourceMappingURL=index.css.map */